

/*===========================*/


body {
	background-color: #000000;
}

p {
	margin: 50px 70px 50px 70px;
	text-align: justify;
	}


/* Portraits
===========================*/

.thumbnail {
	background-color: #000000;
	max-width: 200px;
	margin: 20px;
	}

.frame {
	max-width: 1000px;
	border-width: 5px;
	border-style: solid;
	border-color: white;















































